<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prc.mypoi.dao.DeviceDao">

    <select id="findOne" resultType="com.prc.mypoi.pojo.Device">
        select deviceid as deviceId,device_name as deviceName,
        device_type as deviceType,value,
        date_format(create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        CASE isenable WHEN 0 THEN '否' WHEN 1 THEN '是' END as isenable
        from device where deviceid = #{deviceid}
    </select>
</mapper>